/***

====================================================================
2.	Reset
====================================================================

 ***/

 * {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
    line-height: inherit;
}


/***

====================================================================
3.	Global Settings
====================================================================

 ***/

:root {
    --thm-font: "Font1";
    --thm-b-font: "Font2";
    --thm-base: #c6a6a6;
    --thm-base-rgb: 198, 166, 166;
    --thm-black: #222429;
    --thm-text: #686a6f;
}

@font-face {
    font-family: 'Font1';
    src: url('../fonts/Ar/Bahij_TheSansArabic-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Font2';
    src: url('../fonts/Ar/THESANSARABIC-BOLD.ttf');
    font-weight: 400;
}

body {
    font-size: 16px;
    font-family: var(--thm-b-font);
    color: var(--thm-text);
    line-height: 2.125em;
    font-weight: 400;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    top: 0 !important;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--thm-base);
}

.theme_color {
    color: var(--thm-base);
}

.clearfix {
    clear: both;
}

a:hover,
a:focus,
a:visited,
a:active,
button:active {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: 400;
    margin: 0px 0px 20px;
    background: none;
    line-height: 1.25em;
    color: var(--thm-black);
}

h1 {
    font-size: 140px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 26px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
input,
select,
button {
    font-family: var(--thm-font);
}

textarea {
    overflow: hidden;
    resize: none;
}

button {
    outline: none !important;
    cursor: pointer;
}

p {
    line-height: 2.125em;
    margin: 0 0 20px;
}

.text {
    line-height: 2.125em;
    margin: 0 0;
}

::-webkit-input-placeholder {
    color: inherit;
}

::-moz-input-placeholder {
    color: inherit;
}

::-ms-input-placeholder {
    color: inherit;
}
.inner-container {
    position: relative;
    display: block;
    padding: 0px 50px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #dfdfdf; 
    border-radius: 15px;
    background: #dfdfdf;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #59bcc6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #59bcc6; 
  }
/* ------------------------------------------------------
                      Header
---------------------------------------------------------*/

.main-header {
    position: static;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 9999;
    background: none;
}

.main-header .header-upper {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    z-index: 1;
    transition: all 300ms ease;
    height: 80px;
}

.main-header .header-upper .inner-container {
    position: relative;
    display: block;
    padding: 0px 50px;
}
.main-header .header-upper .header-multi-icon ul{
      display: flex;
}
.main-header .header-upper .header-multi-icon ul li{
    padding: 25px 10px;
}
.main-header .header-upper .header-multi-icon ul li img{
   width: 20px;
}
.main-header .header-upper .logo {
    position: relative;
    display: block;
    float: right;
}

.main-header .header-upper .logo img {
    position: relative;
    display: inline-block;
    max-width: 100%;
    max-height: 75px;
    z-index: 1;
    width: auto;
    padding: 11px 0 10px;
    margin-right: 67px;
}
.main-header .header-bottom {
    position: relative;
    display: block;
    width: 100%;
    background: #f5f5f5;
    z-index: 1;
    transition: all 300ms ease;
    height: 65px;
}
.main-header .header-bottom .inner-container {
    position: relative;
    display: block;
    padding: 0px 50px;
}
/* menu button */
.header-menu .menuBtn {
    float: right;
    padding: 20px 0;
}
/* main menu block */
.header-menu .mainMenu {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 40px;
    position: absolute;
    right: 30px;
    top: 100px;
    z-index: 100;
    height: 440px;
    width: 250px;
    display: block;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
    -webkit-box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
    box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
}
.main-header .header-bottom .header-menu .mainMenu .main-border{
    height: 350px;
    width: 4px;
    border-radius: 15px;
    background: #dfdfdf;
    position: absolute;
    top: 33px;
    right: 25px;
}
.main-header .header-bottom .header-menu 
.mainMenu .main-border span{
    width: 6px;
    height: 40px;
    background: #85477c;
    position: absolute;
    top: 27px;
    border-radius: 15px;
    right: -1px;
}
.header-menu .mainMenu.act {
  opacity: 1;
  transform: scale(1);
}
.header-menu .mainMenu.act ul li {
  opacity: 1;
  transform: translateX(0);
  text-align: right;
}
.header-menu .mainMenu ul {
    display: block;
    padding: 30px 20px 30px 0;
    
}
.header-menu .mainMenu li {
  padding: 6px 0;
  transition: all 400ms 510ms;
  opacity: 0;
}
.header-menu .mainMenu li:nth-child(odd) {
  transform: translateX(30%);
}
.header-menu .mainMenu li:nth-child(even) {
  transform: translateX(-30%);
}
.header-menu .mainMenu li:last-child {
  transform: none;
}
.header-menu .mainMenu a {
  color: #000;
  display: inline-block;
  font-size: 16px;
  padding-right: 30px;
  font-family: var(--thm-font);
}
.main-header .header-bottom .menu-middle{
    float: right;
}
.main-header .header-bottom .menu-middle ul{
    display: flex;
    padding: 15px 0;
}
.main-header .header-bottom .menu-middle ul li h6{
    color: #87457f;
    font-size: 26px;
    font-family: var(--thm-font);
    margin-bottom: 0;
    line-height: 35px;
}
.main-header .header-bottom .menu-middle ul li img.img-main{
    width: 31px;
    height: 35px;
}
.main-header .header-bottom .menu-middle ul li img.img-break{
    padding:0 15px;
}
.main-header .header-bottom .tool {
    position: relative;
    display: inline-block;
  }
  .main-header .header-bottom .tool .tooltiptext {
    visibility: hidden;
    width: 101px;
    height: 38px;
    line-height: 30px;
    background-color: #59bcc6;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -53px;
    font-family: var(--thm-font);
  }
  .main-header .header-bottom .tool .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #59bcc6 transparent;
  }
  
  .main-header .header-bottom .tool:hover .tooltiptext {
    visibility: visible;
  }
.main-home{
    position: relative;
    padding: 60px 0;
}
.main-home .home-card{
    height: 350px;
    width: 100%;
    position: relative;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
    box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
}
.main-home .home-card .card-image img{
    width: 100%;
}
.main-home .home-card .card-text{
    padding-right: 20px;
    height: 110px;
}
.main-home .home-card .card-text h6{
    color: #59bcc6;
    font-size: 13px;
}
.main-home .home-card .card-text h2{
    color: #4e4e4e;
    font-size: 24px;
}
.main-home .home-card .card-bottom{
    padding-right: 15px;
    background: #f5f5f5;
    width: 267px;
    height: 28px;
    border-radius: 10px;
}
.main-home .home-card .card-bottom ul{
    display: flex;
}
.main-home .home-card .card-bottom ul li {
    padding-left: 12px;
}
.main-home .home-card .card-bottom ul li h4{
    font-size: 12px;
    line-height: 28px;
}
.main-home .home-card .card-bottom ul li span{
    color: #59bcc6;
    font-size: 11px;
    padding-left: 1px;
}
#Mymodel,#vediomodel{
    position: absolute;
    top: 49px;
    left: 0;
    width: 900px;
    border: 1px solid #eee;
    border-radius: 15px;
    margin: auto;
    background: #fff;
    padding: 20px 0;
    height: 1200px;
}
#Mymodel .modal-dialog,
#vediomodel .modal-dialog {
    max-width: 100%;
    margin: 0;
}
.modal-open{
    overflow:auto;
}
#Mymodel .modal-header,
#Mymodel .modal-content
,#Mymodel .modal-body,
#vediomodel .modal-header,
#vediomodel .modal-content
,#vediomodel .modal-body{
    border: none;
    padding: 0;
}
#Mymodel .home-article-text .article-text h6,
#vediomodel .home-article-text .article-text h6{
    color: #59bcc6;
    font-size: 18px;
    margin-bottom: 10px;
}
#Mymodel .home-article-text .article-text h2,
#vediomodel .home-article-text .article-text h2{
    color: #606060;
    font-size: 30px;
}
#Mymodel .modal-body .holder::-webkit-scrollbar,
#vediomodel .modal-body .holder::-webkit-scrollbar {
    display: none;
  }

#Mymodel .modal-body .slides-image,
#vediomodel .modal-body .slides {
    display: none;
  }
  
#Mymodel .modal-body .slides-image img,
#vediomodel .modal-body .slides img  {
    width: 100%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
    .prevContainer,
    .nextContainer {
      display: none;
      visibility: hidden;
    }
} 
#Mymodel .modal-header .close,
#vediomodel .modal-header .close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -13px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: #f51e1e;
    border-radius: 50%;
    opacity: 1;
    line-height: 26px;
    color: #fff;
}
#Mymodel .modal-body .prevContainer,
#Mymodel .modal-body .nextContainer,
#vediomodel .modal-header .prevContainer,
#vediomodel .modal-header .nextContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 19%;
    transform: translate(0, calc(-50% - 54px));
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
#Mymodel .modal-body .prevContainer,
#vediomodel .modal-body .prevContainer {
    margin-left: 26px;
    left: 0;
    border-radius: 30px;
  }
#Mymodel .modal-body .prev,
#vediomodel .modal-body .prev {
    position: relative;
    top: 60%;
    transform: translate(0, -50%);
    height: 29px;
    width: 22px;
    float: left;
    margin-left: 1px;
  }
#Mymodel .modal-body .prev svg,
#Mymodel .modal-body .next svg,
#vediomodel .modal-body .prev svg,
#vediomodel .modal-body .next svg {
    fill: white;
  }
#Mymodel .modal-body .nextContainer,
#vediomodel .modal-body .nextContainer {
    margin-right: 26px;
    right: 0;
    border-radius: 30px;
  }
#Mymodel .modal-body .next,
#vediomodel .modal-body .next {
    position: relative;
    top: 60%;
    transform: translate(0, -50%);
    height: 29px;
    width: 22px;
    float: right;
    margin-right: 1px;
  }
#Mymodel .modal-body .row:after,
#vediomodel .modal-body .row:after {
    content: "";
    display: table;
    clear: both;
  }
#Mymodel .modal-body .column,
#vediomodel .modal-body .column {
    float: left;
    width: calc(100% / 5);
    padding: 10px 5px;
    margin-top: 10px;
  }
#Mymodel .modal-body .slide-image-thumbnail,
#vediomodel .modal-body .slide-thumbnail {
    width: 100%;
    opacity: 0.6;
    cursor: pointer;
  }
#Mymodel .modal-body .active,
#Mymodel .modal-body .slide-image-thumbnail:hover,
#vediomodel .modal-body .active,
#vediomodel .modal-body .slide-thumbnail:hover {
    opacity: 1;
  }
#Mymodel .modal-body .article-info,
#vediomodel .modal-body .article-info {
    padding-right: 15px;
    background: #f5f5f5;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#Mymodel .modal-body .article-info ul,
#vediomodel .modal-body .article-info ul{
    display: flex;
}
#Mymodel .modal-body .article-info ul li,
#vediomodel .modal-body .article-info ul li {
    padding-left: 12px;
}
#Mymodel .modal-body .article-info ul li h4,
#vediomodel .modal-body .article-info ul li h4{
    font-size: 14px;
    line-height: 37px;
    font-weight: 400;
}
#Mymodel .modal-body .article-info ul li span,
#vediomodel .modal-body .article-info ul li span{
    color: #59bcc6;
    font-size: 13px;
    padding-left: 1px;
}
#Mymodel .modal-body .article-info ul.article-icon,
#vediomodel .modal-body .article-info ul.article-icon{
    float: left;
} 
#Mymodel .modal-body .article-pragh p,
#vediomodel .modal-body .article-pragh p{
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: #4e4e4e;
    padding: 0 5px;
    margin-bottom: 0;
}
#Mymodel .modal-body .comments,
#vediomodel .modal-body .comments{
    margin-top: 20px;
}
#Mymodel .modal-body .comments h3,
#vediomodel .modal-body .comments h3{
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 500;
    margin-bottom: 0;
}
#Mymodel .modal-body .comments h3 a i,
#vediomodel .modal-body .comments h3 a i{
     font-size: 16px;
     color: #4e4e4e;
}
#Mymodel .modal-body .comments span,
#vediomodel .modal-body .comments span{
    margin-right: 50px;
    font-size: 11px;
    color: #8d8c8c;
}
#Mymodel .modal-body .comments input,
#vediomodel .modal-body .comments input{
    border-radius: 30px;
    margin-top:-5px;
}
#Mymodel .modal-body .comments .user-image,
#vediomodel .modal-body .comments .user-image{
    margin-right: -15px;
    margin-top: -5px;
}
#Mymodel .modal-body .comments .comment-example,
#vediomodel .modal-body .comments .comment-example{
    margin-top: -20px;
    width: 93%;
    margin-bottom: 35px;
}
#Mymodel .modal-body .comments .comment-example img,
#vediomodel .modal-body .comments .comment-example img{
    width: 30px;
    margin-right: 17px;
    float: right;
}
#Mymodel .modal-body .comments .comment-example h5,
#vediomodel .modal-body .comments .comment-example h5{
    font-size: 10px;
    padding-right: 57px;
    padding-top: 9px;
    margin-bottom: 0;
}
#Mymodel .modal-body .comments .comment-example p,
#vediomodel .modal-body .comments .comment-example p{
    font-size: 10px;
    padding-right: 57px;
    padding-top: 9px;
    width: 99%;
    margin-bottom: 0;
}
#Mymodel .modal-body .comments .comment-example ul,
#vediomodel .modal-body .comments .comment-example ul{
    display: flex;
    float: left;
    margin-left: 40px;
    margin-top: -10px;
}
#Mymodel .modal-body .comments .comment-example ul li,
#vediomodel .modal-body .comments .comment-example ul li{
    padding: 0 8px;
}