/***

====================================================================
2.	Reset
====================================================================

 ***/

 * {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
    line-height: inherit;
}


/***

====================================================================
3.	Global Settings
====================================================================

 ***/

:root {
    --thm-font: "Font1";
    --thm-b-font: "Font2";
    --thm-base: #c6a6a6;
    --thm-base-rgb: 198, 166, 166;
    --thm-black: #222429;
    --thm-text: #686a6f;
}

@font-face {
    font-family: 'Font1';
    src: url('../fonts/Ar/Bahij_TheSansArabic-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Font2';
    src: url('../fonts/Ar/THESANSARABIC-BOLD.ttf');
    font-weight: 400;
}

body {
    font-size: 16px;
    font-family: var(--thm-b-font);
    color: var(--thm-text);
    line-height: 2.125em;
    font-weight: 400;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    top: 0 !important;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: var(--thm-base);
}

.theme_color {
    color: var(--thm-base);
}

.clearfix {
    clear: both;
}

a:hover,
a:focus,
a:visited,
a:active,
button:active {
    text-decoration: none !important;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: 400;
    margin: 0px 0px 20px;
    background: none;
    line-height: 1.25em;
    color: var(--thm-black);
}

h1 {
    font-size: 140px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 26px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
input,
select,
button {
    font-family: var(--thm-font);
}

textarea {
    overflow: hidden;
    resize: none;
}

button {
    outline: none !important;
    cursor: pointer;
}

p {
    line-height: 2.125em;
    margin: 0 0 20px;
}

.text {
    line-height: 2.125em;
    margin: 0 0;
}

::-webkit-input-placeholder {
    color: inherit;
}

::-moz-input-placeholder {
    color: inherit;
}

::-ms-input-placeholder {
    color: inherit;
}
.inner-container {
    position: relative;
    display: block;
    padding: 0px 50px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #dfdfdf; 
    border-radius: 15px;
    background: #dfdfdf;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #59bcc6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #59bcc6; 
  }
/* ------------------------------------------------------
                      Header
---------------------------------------------------------*/

.main-header {
    position: static;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 9999;
    background: none;
}

.main-header .header-upper {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    z-index: 1;
    transition: all 300ms ease;
    height: 80px;
}

.main-header .header-upper .inner-container {
    position: relative;
    display: block;
    padding: 0px 50px;
}
.main-header .header-upper .header-multi-icon ul{
      display: flex;
}
.main-header .header-upper .header-multi-icon ul li{
    padding: 25px 10px;
}
.main-header .header-upper .header-multi-icon ul li img{
   width: 20px;
}
.main-header .header-upper .logo {
    position: relative;
    display: block;
    float: right;
}

.main-header .header-upper .logo img {
    position: relative;
    display: inline-block;
    max-width: 100%;
    max-height: 75px;
    z-index: 1;
    width: auto;
    padding: 11px 0 10px;
    margin-right: 67px;
}
.main-header .header-bottom {
    position: relative;
    display: block;
    width: 100%;
    background: #f5f5f5;
    z-index: 1;
    transition: all 300ms ease;
    height: 65px;
}
.main-header .header-bottom .inner-container {
    position: relative;
    display: block;
    padding: 0px 50px;
}
/* menu button */
.header-menu .menuBtn {
    float: right;
    padding: 20px 0;
}
/* main menu block */
.header-menu .mainMenu {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 40px;
    position: absolute;
    right: -300px;
    top: 100px;
    z-index: 100;
    height: 440px;
    width: 265px;
    display: block;
    text-align: center;
    opacity: 0;
    transform: translateX(0);
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -webkit-box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
    box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
}
.main-header .header-bottom .header-menu .mainMenu .main-border{
    height: 350px;
    width: 4px;
    border-radius: 15px;
    background: #dfdfdf;
    position: absolute;
    top: 33px;
    right: 25px;
}
.main-header .header-bottom .header-menu 
.mainMenu .main-border span{
    width: 6px;
    height: 40px;
    background: #85477c;
    position: absolute;
    top: 27px;
    border-radius: 15px;
    right: -1px;
}
.header-menu .mainMenu.act {
    position: absolute;
    right: 30px;
    opacity: 1;
    transform: translateX(3%);
}
.header-menu .mainMenu.act ul li {
  opacity: 1;
  transform: translateX(0);
  text-align: right;
}
.header-menu .mainMenu ul {
    display: block;
    padding: 30px 20px 30px 0;
    
}
.header-menu .mainMenu li {
  padding: 6px 0;
  transition: all 400ms 510ms;
  opacity: 0;
}
.header-menu .mainMenu li {
  transform: translateX(30%);
}
.header-menu .mainMenu li:last-child {
  transform: none;
}
.header-menu .mainMenu a {
  color: #000;
  display: inline-block;
  font-size: 16px;
  padding-right: 25px;
  font-family: var(--thm-font);
}
.header-menu .mainMenu a i{
    padding-left: 10px;
    color: #606060;
}
.main-header .header-bottom  #main-middle{
    float: right;
}
.main-header .header-bottom  #main-middle ul{
    display: flex;
    padding: 15px 0;
}
.main-header .header-bottom .menu-middle ul li h6{
    color: #87457f;
    font-size: 26px;
    font-family: var(--thm-font);
    margin-bottom: 0;
    line-height: 35px;
}
.main-header .header-bottom .menu-middle ul li img.img-main{
    width: 31px;
    height: 35px;
}
.main-header .header-bottom .menu-middle ul li img.img-break{
    padding:0 15px;
}
.main-header .header-bottom .tool {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .main-header .header-bottom .tool .tooltiptext {
    visibility: hidden;
    width: 101px;
    height: 38px;
    line-height: 30px;
    background-color: #59bcc6;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -53px;
    font-family: var(--thm-font);
  }
  .main-header .header-bottom .tool .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #59bcc6 transparent;
  }
  
  .main-header .header-bottom .tool:hover .tooltiptext {
    visibility: visible;
  }
  /* =========================================================Number-menu =================*/
  .header-bottom .menu-middle .dropdown-tool {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 40px;
    position: absolute;
    right: -700px;
    top: 65px;
    z-index: 100;
    height: auto;
    width: 196px;
    display: none;
    text-align: center;
    opacity: 0;
    /* transform: translateX(0); */
    -webkit-box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
    box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
}
.menu-middle .dropdown-tool.act {
    position: absolute;
    right: 108px;
    opacity: 1;
    display: block;
    
}
.menu-middle ul.dropdown-tool.act  li {
  opacity: 1;
  text-align: right;
}
.menu-middle ul.dropdown-tool {
    display: inline !important;
    padding: 30px 20px 30px 0;
    
}
.menu-middle .dropdown-tool li {
  padding: 6px 0;
  /* transition: all 400ms 510ms; */
  opacity: 0;
}
.menu-middle .dropdown-tool li:last-child {
  transform: none;
}
.menu-middle .dropdown-tool a {
  color: #000;
  display: inline-block;
  font-size: 16px;
  padding-right: 30px;
  font-family: var(--thm-font);
}
/* =========================================== */
.main-home{
    position: relative;
    padding: 60px 0;
}
.main-home .col-lg-3,
.main-home .col-md-4 ,
.main-home .col-sm-6,
.main-home .col-xs-12{
    margin-bottom: 50px;
}
.main-home .home-card{
    height: 350px;
    width: 100%;
    position: relative;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
    box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
}
.main-home .home-card .card-image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    max-height: 200px;
}
.main-home .home-card .card-text{
    padding-right: 20px;
    height: 80px;
}
.main-home .home-card .card-text h6{
    color: #59bcc6;
    font-size: 9px;
}
.main-home .home-card .card-text h2{
    color: #4e4e4e;
    font-size: 24px;
}
.main-home .home-card .card-bottom{
    padding-right: 15px;
    background: #f5f5f5;
    width: 267px;
    height: 28px;
    border-radius: 10px;
}
.main-home .home-card .card-bottom ul{
    display: flex;
    justify-content: center;
}
.main-home .home-card .card-bottom ul li {
    padding-left: 20px;
}
.main-home .home-card .card-bottom ul li h4{
    font-size: 12px;
    line-height: 28px;
    color: #4e4e4e;
}
.main-home .home-card .card-bottom ul li h4 img{
    width: 15px;
    height: 14px;

}
.main-home .home-card .card-bottom ul li span{
    color: #59bcc6;
    font-size: 11px;
    padding-left: 1px;
}
#Mymodel,#vediomodel{
    position: absolute;
    top: 49px;
    left: 0;
    width: 900px;
    border: 1px solid #eee;
    border-radius: 15px;
    margin: auto;
    background: #fff;
    padding: 20px 0;
    height: 1200px;
}
#Mymodel .modal-dialog,
#vediomodel .modal-dialog {
    max-width: 100%;
    margin: 0;
}
.modal-open{
    overflow:auto;
}
#Mymodel .modal-header,
#Mymodel .modal-content
,#Mymodel .modal-body,
#vediomodel .modal-header,
#vediomodel .modal-content
,#vediomodel .modal-body{
    border: none;
    padding: 0;
    position: relative;
}
#Mymodel .home-article-text .article-text h6,
#vediomodel .home-article-text .article-text h6{
    color: #59bcc6;
    font-size: 18px;
    margin-bottom: 10px;
}
#Mymodel .home-article-text .article-text h2,
#vediomodel .home-article-text .article-text h2{
    color: #606060;
    font-size: 25px;
}
#Mymodel .modal-body .holder::-webkit-scrollbar,
#vediomodel .modal-body .holder::-webkit-scrollbar {
    display: none;
  }

#Mymodel .modal-body .slides-image,
#vediomodel .modal-body .slides {
    display: none;
  }
  
#Mymodel .modal-body .slides-image img,
#vediomodel .modal-body .slides img  {
    width: 100%;
    height: 370px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
    .prevContainer,
    .nextContainer {
      display: none;
      visibility: hidden;
    }
} 
#Mymodel .modal-header .close,
#vediomodel .modal-header .close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -13px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 1;
    line-height: 26px;
    color:#222429;
    font-size: 22px;
}
#Mymodel .modal-body .holder{
    position: relative;
}
#Mymodel .modal-body .all-btn{
    position: absolute;
    top:37%;
    width: 100%;
}
#Mymodel .modal-body .prevContainer,
#Mymodel .modal-body .nextContainer,
#vediomodel .modal-header .prevContainer,
#vediomodel .modal-header .nextContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 19%;
    /* transform: translate(0, calc(-50% - 54px)); */
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
#Mymodel .modal-body .prevContainer,
#vediomodel .modal-body .prevContainer {
    margin-left: 26px;
    left:2px;
    border-radius: 30px;
  }
#Mymodel .modal-body .prev,
#vediomodel .modal-body .prev {
    position: relative;
    top: 60%;
    transform: translate(0, -50%);
    height: 29px;
    width: 22px;
    float: left;
    margin-left: 1px;
  }
#Mymodel .modal-body .prev svg,
#Mymodel .modal-body .next svg,
#vediomodel .modal-body .prev svg,
#vediomodel .modal-body .next svg {
    fill: white;
  }
#Mymodel .modal-body .nextContainer,
#vediomodel .modal-body .nextContainer {
    margin-right: 26px;
    right: 0;
    border-radius: 30px;
  }
#Mymodel .modal-body .next,
#vediomodel .modal-body .next {
    position: relative;
    top: 60%;
    transform: translate(0, -50%);
    height: 29px;
    width: 22px;
    float: right;
    margin-right: 1px;
  }
#Mymodel .modal-body .row:after,
#vediomodel .modal-body .row:after {
    content: "";
    display: table;
    clear: both;
  }
#Mymodel .modal-body .column,
#vediomodel .modal-body .column {
    float: left;
    width: calc(100% / 5);
    padding: 10px 5px;
    margin-top: 10px;
  }
#Mymodel .modal-body .slide-image-thumbnail,
#vediomodel .modal-body .slide-thumbnail {
    width: 100%;
    opacity: 0.6;
    cursor: pointer;
  }
#Mymodel .modal-body .active,
#Mymodel .modal-body .slide-image-thumbnail:hover,
#vediomodel .modal-body .active,
#vediomodel .modal-body .slide-thumbnail:hover {
    opacity: 1;
  }
#Mymodel .modal-body .article-info,
#vediomodel .modal-body .article-info {
    padding-right: 15px;
    background: #f5f5f5;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#Mymodel .modal-body .article-info ul,
#vediomodel .modal-body .article-info ul{
    display: flex;
}
#Mymodel .modal-body .article-info ul li,
#vediomodel .modal-body .article-info ul li {
    padding-left: 12px;
}
#Mymodel .modal-body .article-info ul li h4,
#vediomodel .modal-body .article-info ul li h4{
    font-size: 14px;
    line-height: 37px;
    font-weight: 400;
}
#Mymodel .modal-body .article-info ul li h4 img,
 #vediomodel .modal-body .article-info ul li h4 img{
     width: 15px;
     height: 14px;
 }
#Mymodel .modal-body .article-info ul li span,
#vediomodel .modal-body .article-info ul li span{
    color: #59bcc6;
    font-size: 13px;
    padding-left: 1px;
}
#Mymodel .modal-body .article-info ul.article-icon,
#vediomodel .modal-body .article-info ul.article-icon{
    float: left;
} 
#Mymodel .modal-body .article-pragh p,
#vediomodel .modal-body .article-pragh p{
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: #4e4e4e;
    padding: 0 5px;
    margin-bottom: 0;
}
#Mymodel .modal-body .comments,
#vediomodel .modal-body .comments{
    margin-top: 20px;
    display: flex;
}
#Mymodel .modal-body .comments h3,
#vediomodel .modal-body .comments h3{
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 500;
    margin-bottom: 0;
}
#Mymodel .modal-body .comments h3 a i,
#vediomodel .modal-body .comments h3 a i{
     font-size: 16px;
     color: #4e4e4e;
}
#Mymodel .modal-body .comments span,
#vediomodel .modal-body .comments span{
    margin-right: 50px;
    font-size: 11px;
    color: #8d8c8c;
}
#Mymodel .modal-body .comments input,
#vediomodel .modal-body .comments input{
    border-radius: 30px;
    margin-top:-5px;
}
#Mymodel .modal-body .comments .user-image,
#vediomodel .modal-body .comments .user-image{
    margin-right: -15px;
    margin-top: -5px;
}
#Mymodel .modal-body .comments-exs .comment-example,
#vediomodel .modal-body .comments-exs .comment-example{
    margin-top: -20px;
    width: 93%;
    margin-bottom: 35px;
}
#Mymodel .modal-body .comments-exs .comment-example img,
#vediomodel .modal-body .comments-exs .comment-example img{
    width: 30px;
    margin-right: 17px;
    float: right;
}
#Mymodel .modal-body .comments-exs .comment-example h5,
#vediomodel .modal-body .comments-exs .comment-example h5{
    font-size: 10px;
    padding-right: 57px;
    padding-top: 9px;
    margin-bottom: 0;
}
#Mymodel .modal-body .comments-exs .comment-example p,
#vediomodel .modal-body .comments-exs .comment-example p{
    font-size: 10px;
    padding-right: 57px;
    padding-top: 9px;
    width: 99%;
    margin-bottom: 0;
}
#Mymodel .modal-body .comments-exs .comment-example ul,
#vediomodel .modal-body .comments-exs .comment-example ul{
    display: flex;
    float: left;
    margin-left: 40px;
    margin-top: -10px;
}
#Mymodel .modal-body .comments-exs .comment-example ul li,
#vediomodel .modal-body .comments-exs .comment-example ul li{
    padding: 0 8px;
}
/* =========================================== Login & register ====================================== */
#login-modal,#register-modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    height: 1275px;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  
  #login-modal.modal:target,
  #register-modal.modal:target {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  #login-modal .modal__content,
  #register-modal .modal__content {
    border-radius: 25px;
    position: relative;
    width: 1100px;
    max-width: 90%;
    background: #f5f5f5;
    padding: 0;
    margin: 10% auto;
  }
  #login-modal .modal__close,
  #register-modal .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }
#login-modal .back-row,
#register-modal .back-row{ 
    padding-left: 0;
}
.login-back{
    background-image: url(../images/background/Asset\ 12.png);
    width: 100%;
    height: 600px;
    padding: 30px 75px;
}
#register-modal .login-back{
    background-image: url(../images/background/Asset\ 13.png);
    width: 100%;
    height: 600px;
    padding: 30px 75px;
}
.login-back h2{
    font-size: 35px;
    color: #FFF;
    margin-top: 50px;
    margin-right: 50px;
}
.login-back p{
    color: #f5f5f5;
    font-size: 20px;
    font-family: var(--thm-b-font);
    margin-right: 50px;
}
.login-form,
.register-form{
    width: 100%;
    margin: auto;
    padding: 108px 47px 30px 0px;
}
.register-form {
    padding: 108px 55px 30px 20px;
}
.register-form label{
    padding-right: 15px;
}
.login-form h2,
.register-form h2{
    font-size: 26px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 25px;
}
.register-form h2{
    text-align: right;
    margin-bottom: 50px;
}
.login-form .form-group input,
.register-form .form-group input{
    color: #b7b9b9;
    background: transparent;
    height: 50px;
    border-radius: 30px;
}
.login-form .form-group,
.register-form .form-group{position: relative;}
.login-form .form-group input::placeholder,
.register-form .form-group input::placeholder{
    font-size: 11px;
    color: #b7b9b9;
}
.login-form .form-group span i,
.register-form .form-group span i{
    position: absolute;
    left: 18px;
    top: 13px;
    color: #b3b5b6;
}
.register-form .form-group span i{
    position: absolute;
    left: 32px;
    top: 58px;
    color: #b3b5b6;
}
.login-form .form-group .container,
.register-form .form-group .container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 45px;
  text-align: left;
  
}
.register-form .form-group .container{
    text-align: right;
    padding-right: 44px;
}
/* Hide the browser's default checkbox */
.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8px;
  left: 18px;
  height: 18px;
  width: 18px;
  background-color: #f5f5f5;
  border-radius: 15px;
  border: 1px solid #b3b5b6;
}
.register-form .checkmark{
    left: 0;
    right: 18px;
}

/* On mouse-over, add a grey background color */
.container:hover input[type="checkbox"] ~ .checkmark {
  background-color: #f5f5f5;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .checkmark {
  background-color: #f5f5f5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #222429;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.login-form .form-group a,
.register-form .form-group a{
    text-align: right;
    position: absolute;
    top: 0px;
    color: #686a6f;
    font-size: 11px;
    right: 16px;
}
.register-form .form-group a{
    text-align: right;
    right: 110px;
    top: 1px;
}
.login-form .form-group button,
.register-form .form-group button{
    background: linear-gradient(to right, rgb(206 99 153),rgb(215 153 129));
    height: 50px;
    border-radius: 38px;
    color: #fff;
    font-size: 23px;
    margin-top: 35px;
}
.register-form .form-group button{
    width: 160px;
    font-size: 16px;
    height: 45px;
}
#Mymodel .modal-body .article-info ul.article-icon li img, 
#vediomodel .modal-body .article-info ul.article-icon li img{
    width: 17px;
    height: 32px;
    padding-top: 2px;
}
/* ======================================= responsive ======================================= */

@media only screen and (max-width: 2560px) {
    .main-home .home-card{
        height: 100%;
        max-height: 440px;
        margin-bottom: 50px;
    }
    .main-home .home-card .card-text{
        height: 130px;
    }
    .main-home .home-card .card-text h6 {
        font-size: 18px;
        padding-top: 10px;
    }
    .main-home .home-card .card-text h2 {
        font-size: 32px;
        padding-top: 8px;
    }
    .main-home .home-card .card-bottom {
        width: 95%;
        margin: auto;
        height: 50px;
    }
    .main-home .home-card .card-bottom ul li h4 {
        font-size: 25px;
        line-height: 42px;
    }
    .main-home .home-card .card-bottom ul li span{
        font-size: 25px;
        padding-left: 5px;
    }
    #Mymodel, #vediomodel{
        position: absolute;
        top: 30px;
        height: auto;
        width: 1028px;
    }
    .home-article-text{
        margin-top: 20px;
    }
    #Mymodel .modal-body .slide-image-thumbnail, #vediomodel .modal-body .slide-thumbnail{
        height: 65px;
    }
    #Mymodel .modal-body .article-info ul.article-icon li img, 
    #vediomodel .modal-body .article-info ul.article-icon li img{
        padding-top: 4px;
        width: 17px;
        height: 32px;
    }
    #Mymodel .modal-body .comments h3, 
    #vediomodel .modal-body .comments h3{
        margin-bottom: 5px;
    }
    #Mymodel .modal-body .comments-exs .comment-example, 
    #vediomodel .modal-body .comments-exs .comment-example {
        margin-top: 10px;
        width: 95%;
        margin-bottom: 15px;
    }
    #Mymodel .modal-body .comments-exs .comment-example img, 
    #vediomodel .modal-body .comments-exs .comment-example img{
        width: 30px;
    }


}
@media only screen and (max-width: 1440px) {
    .main-home .home-card{
        height: 100%;
        max-height: 370px;
        margin-bottom: 50px;
    }
    .main-home .home-card .card-text{
        height: 95px;
    }
    .main-home .home-card .card-text h6 {
        font-size: 8px;
        padding-top: 10px;
        margin-bottom: 0;
    }
    .main-home .home-card .card-text h2 {
        font-size: 21px;
        padding-top: 8px;
    }
    .main-home .home-card .card-bottom {
        width: 97%;
        margin: auto;
        height: 50px;
    }
    .main-home .home-card .card-bottom ul li h4 {
        font-size: 13px;
        line-height: 45px;
    }
    .main-home .home-card .card-bottom ul li span{
        font-size: 14px;
        padding-left:2px;
    }
    .home-article-text {
        margin-top: 13px;
    }
    #Mymodel .modal-body .article-info ul.article-icon li img,
    #vediomodel .modal-body .article-info ul.article-icon li img {
        padding-top: 3px;
    }

}
@media only screen and (max-width: 1119px) {
    .main-home .home-card{
        height: 100%;
        max-height: 320px !important;
    }
    .main-home .home-card .card-text{
        height: 65px;
        padding-left: 10px;
    }
    .main-home .home-card .card-text h6 {
        font-size: 8px;
        padding-top: 6px;
    }
    .main-home .home-card .card-text h2 {
        font-size: 17px;
        padding-top: 3px;
    }
    .main-home .home-card .card-bottom {
        width: 100%;
        height: 35px;
    }
    .main-home .home-card .card-bottom ul li h4 {
        font-size: 11px;
        line-height: 35px;
    }
    .main-home .home-card .card-bottom ul li span{
        font-size: 10px;
    }
    .main-home .home-card .card-bottom ul li {
        padding-left: 8px;
    }
    #Mymodel, #vediomodel{
        width: 860px;
    }

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .main-header .header-bottom .menu-middle ul li img.img-main {
        width: 27px;
        height: 30px;
    }
    .main-header .header-bottom .menu-middle ul li img.img-break {
        padding: 0px 10px;
    }
    .main-header .header-bottom .menu-middle ul li h6{
        font-size: 24px;
        line-height: 30px;
    }
    #Mymodel, #vediomodel {
        width: 700px;
    }
    .login-form, .register-form{
        padding: 108px 0px 30px 0px;
    }
    .login-back{
        padding: 30px 0;
    }
    .login-back h2 {
        font-size: 29px;
    }
    .login-back p {
        font-size: 16px;
    }
}
@media only screen and (max-width: 479px) {
    .main-header .header-upper .logo {
        float: none;
        position: absolute;
        top: -75px;
        left: 15px;
    }
    .main-header .header-upper .header-multi-icon ul {
        display: flex;
        align-items: center;
    }
    .main-header .header-upper .header-multi-icon ul li {
        display: inline-block;
    }
    .main-header .header-bottom #main-middle{
        position: absolute;
        top: -61px;
        left: 20px;
        right:auto ;
    }
    .main-header .header-bottom .menu-middle ul li img.img-break {
        padding: 0 10px;
        width: 73px;
    }
    .main-header .header-bottom .menu-middle ul li img.img-main {
        width: 20px;
        height: 25px;
    }
    .main-header .header-bottom .menu-middle ul li h6{
        font-size: 20px;
        line-height: 30px;
    }
    .main-header .header-bottom li:last-child .tool .tooltiptext{
        margin-left: -21px;
    }
    .main-home .home-card {
        height: 100%;
        max-height: 390px;
    }
    .main-home .home-card .card-text h6 {
        font-size: 10px;
    }
    .main-home .home-card .card-text h2 {
        font-size: 19px;
    }
    .main-home .home-card .card-bottom ul li h4 {
        font-size: 15px;
    }
    .main-home .home-card .card-bottom ul li span {
        font-size: 16px;
    }
    #Mymodel, #vediomodel {
        width: 97%;
    }
    #Mymodel .modal-body .slides-image img, 
    #vediomodel .modal-body .slides img {
        height: 239px;
    }
    #Mymodel .modal-body .article-info,
    #vediomodel .modal-body .article-info{
        height: 90px;
        margin: auto;
        margin-bottom: 7px;
    }
    #Mymodel .modal-body .article-info ul li h4, 
    #vediomodel .modal-body .article-info ul li h4{
        margin-bottom: 0;
    }
    #Mymodel .modal-body .comments, 
    #vediomodel .modal-body .comments {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: nowrap;
    }
    #Mymodel .modal-body .comments input, #vediomodel .modal-body .comments input {
        width: 345px !important;
    }
    #Mymodel .modal-body .comments .user-image, 
    #vediomodel .modal-body .comments .user-image {
        margin-right: 5px;
        margin-top: -9px;
    }
    #Mymodel .modal-body .comments-exs .comment-example ul,
    #vediomodel .modal-body .comments-exs .comment-example ul {
        margin-top: 4px;
        margin-bottom: 10px;
    }
    #Mymodel .modal-body .article-info ul.article-icon, 
    #vediomodel .modal-body .article-info ul.article-icon {
        float: right;
    }
    .login-form, .register-form{
        height: auto;
        padding: 45px 0 20px 0;
    }
    .login-back{
        display: none;
    }
    .register-form h2{
        text-align: center;
    }
}
/*////////iphone 6+,7+,8+*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .main-header .header-bottom .menu-middle ul li img.img-break {
        padding: 0 4px;
        width: 69px;
    }
    #Mymodel .modal-body .slides-image img, #vediomodel .modal-body .slides img {
        height: 239px;
    }
    #Mymodel .modal-body .comments input, 
    #vediomodel .modal-body .comments input {
        width: 280px !important;
    }
    #Mymodel .modal-body .comments-exs .comment-example ul, 
    #vediomodel .modal-body .comments-exs .comment-example ul {
        margin-top: 0px;
    }

}

/*////////iphone x*/

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
    .main-header .header-bottom .menu-middle ul li img.img-break{
        display: none;
    }
    .main-header .header-bottom #main-middle ul li{
        padding: 0 8px 0 5px;
    }
    .menu-middle .dropdown-tool.act {
        position: absolute;
        right: 10px;
        width: 150px;
    }
    #Mymodel .modal-body .slides-image img, 
    #vediomodel .modal-body .slides img {
        height: 239px;
    }
    #Mymodel .modal-body .comments input, 
    #vediomodel .modal-body .comments input {
        width: 247px !important;
    }
    #Mymodel .modal-body .comments-exs .comment-example ul, 
    #vediomodel .modal-body .comments-exs .comment-example ul{
        margin-top: -15px;
    }
    
}

/*// Galaxy */
@media only screen and (min-device-width: 360px) and (max-device-width: 374px) {
    .main-header .header-bottom .menu-middle ul li img.img-break{
        display: none;
    }
    .main-header .header-bottom #main-middle ul li{
        padding: 0 8px 0 5px;
    }
    .menu-middle .dropdown-tool.act {
        position: absolute;
        right: 10px;
        width: 150px;
    }
    #Mymodel .modal-body .slides-image img, #vediomodel .modal-body .slides img {
        height: 239px;
    }
    #Mymodel .modal-body .comments input, 
    #vediomodel .modal-body .comments input {
        width: 235px !important;
    }
    #Mymodel .modal-body .comments-exs .comment-example ul, 
    #vediomodel .modal-body .comments-exs .comment-example ul{
        margin-top: 0;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
    .main-header .header-bottom .menu-middle ul li img.img-break{
        display: none;
    }
    .main-header .header-bottom #main-middle ul li{
        padding: 0 5px 0 5px;
    }
    .main-header .header-upper .logo img {
        width: 90px;
        margin-top: 6px;
    }
    .menu-middle .dropdown-tool.act {
        position: absolute;
        right: -14px;
        width: 150px;
    }
    #Mymodel .modal-body .slides-image img, 
    #vediomodel .modal-body .slides img {
        height: 175px;
    }
    #Mymodel .modal-body .article-pragh p, 
    #vediomodel .modal-body .article-pragh p{
        padding: 0;
        font-size: 12px;
        line-height: 22px;
    }
    #Mymodel .home-article-text .article-text h6, 
    #vediomodel .home-article-text .article-text h6 {
        font-size: 12px;
    }
    #Mymodel .home-article-text .article-text h2, 
    #vediomodel .home-article-text .article-text h2{
        font-size: 20px;
    }
    #Mymodel .modal-body .column, 
    #vediomodel .modal-body .column{
        padding: 10px 2px;
    }
    #Mymodel .modal-body .slide-image-thumbnail, 
    #vediomodel .modal-body .slide-thumbnail {
        height: 43px;
    }
    #Mymodel .modal-body .article-info ul, 
    #vediomodel .modal-body .article-info ul {
        margin-bottom: 0;
    }
    #Mymodel .modal-body .article-info ul li, 
    #vediomodel .modal-body .article-info ul li {
        padding-left: 9px;
        padding-top: 5px;
    }
    #Mymodel .modal-body .comments input, 
    #vediomodel .modal-body .comments input {
        width: 200px !important;
    }
    #Mymodel .modal-body .comments-exs .comment-example ul, 
    #vediomodel .modal-body .comments-exs .comment-example ul {
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0;
    }
    .login-form, .register-form{
        padding-left: 0;
    }
}
